:root {
    --bg01: linear-gradient(180deg, #22262A 0%, #181A1D 100%);
    --bg02: linear-gradient(135deg, #2F3439, #1D1F23);
    --bg03: linear-gradient(135deg, #2C3136, #1D2023);
    --bg04: #040404;

    --border01: #22262A;
    --border02: #9f8181;

    --box-shadow01: 6px 6px 10px #151618, -6px -6px 10px #2c3136, inset 2px 2px 6px #33353b, inset -3px -3px 6px #151618;
    --box-shadow02: -6px -6px 10px #151618, 6px 6px 10px #2c3136, inset 2px 2px 6px #33353b, inset -3px -3px 6px #151618;
    --box-shadow03: 6px 6px 12px #151618, -6px -6px 12px #2c3136;
    --box-shadow04: inset 2px 2px 3px -2px rgba(167, 169, 171, 0.322), inset 0px -1px 1px 0px #4a4c4e;
    --box-shadow05: 8px 8px 12px #151618, -2px -2px 10px #2c3136, inset 2px 2px 3px #33353b, inset -2px -2px 3px #151618;
    --box-shadow06: 10px 10px 12px #151618, -10px -10px 12px #222529, inset 4px 4px 8px #33353b, inset -4px -4px 8px #151618;
    --box-shadow07: 10px 10px 12px #151618, -10px -10px 12px #2c3136, inset -4px -4px 8px #33353b, inset 4px 4px 8px #151618;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--bg01);
    height: 100vh;
}

.wrapper {
    max-width: 1200px;
    height: 100vh;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    margin-bottom: 0rem;
}

header .hdbtn {
    background: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.player {
    margin-top: 1rem;
}

img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 1rem;
    object-fit: cover;
    border: 10px solid var(--border02);
    border-radius: 50%;
    box-shadow: var(--box-shadow03);
    animation: rotation 8s infinite linear;
    transform-origin: center;
}

.name {
    color: #A7A9AB;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.artist {
    color: #7c7d80;
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 0 20px 0;
}

.audioC {
    margin: -1px 0px -2px 0px;
}

.song-timer {
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.song-timer span {
    font-size: 12px;
    color: #7c7d80;
    user-select: none;
    font-weight: 800;
}

.progress-area {
    height: 7px;
    width: 60%;
    margin: 10px auto;
    border-radius: 50px;
    background: var(--bg04);
    box-shadow: var(--box-shadow04);
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    width: 100%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #84514b 0%, #e1530a 80%);
    box-shadow: var(--box-shadow04);
    transition: width 0.2s ease;
}

.progress-bar::before,
.progress-bar::after {
    right: 50%;
    transform: translate(50%, -50%);
}

.progress-bar::before {
    width: 20px;
    height: 20px;
}

.progress-bar::after {
    width: 10px;
    height: 10px;
}

.controls {
    margin: 35px 8px 5px 8px;
}

.btnC {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid var(--border02);
}

.file-upload {
    margin-top: 20px;
    text-align: center;
}

#file-input {
    display: none;
}

.file-btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
}
